body
  font: 12px Helvetica, Arial, sans-serif
  // color: white
  // background-color: #333

ul.grid
  margin: 0
  padding: 0

  li
    display: inline-block
    list-style: none
    margin: 2px
    padding: 0
    position: relative

    span.day
      position: absolute
      top: 2
      left: 2
      color: white
      color: rgba(255,255,255,0.7)
      font-weight: bold

    a img:hover
      outline: #3b74c7 solid 2px


